/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
  background-color: #fff;
}

*:focus {
  outline: 2px dotted #DE2E54;
  outline-offset: 3px;
}

html {
  scroll-behavior: smooth;
}


/* CONTAINER */
.container {
  width: 100%;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}


/* Header */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* SITE LOGO*/
.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 24px;
  font-weight: 600;
}

.site-logo-site-footer {
  color: #fff;
}

.site-logo:hover {
  color: #DE2E54;
}

.site-logo:active {
  opacity: 0.6;
}

.site-logo-site-footer:active {
  color: #fff;
}

.site-logo-img {
  margin-right: 16px;
  border-radius: 50%;
}


/* NAV */
.sitenav {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: bold;
}

.sitenav-list {
  align-items: center;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}

.sitenav-link {
  display: block;
  color: #222222;
  text-decoration: none;
}

.sitenav-link:hover {
  color: #DE2E54;
}

.sitenav-link:active {
  opacity: 0.6;
  color: #DE2E54;
}

.sitenav-site-footer .sitenav-link {
  color: #fff;
}

.sitenav-site-footer .sitenav-link:hover {
  color: #DE2E54
}

.sitenav-site-footer .sitenav-link:active {
  color: #fff;
}

/* MAIN_LINK */
.main-link {
  display: inline-block;
  font-weight: bold;
  padding: 10px 22px;
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  text-transform: uppercase;
}

.main-link:hover {
  background-color: #fff;
  color: #DE2E54;
}

.main-link:active {
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}

.main-link-solid:hover {
  border-color: transparent;
  background-color: rgba(222, 46, 84, 0.8);
  color: #fff;
}

.main-link-solid:active {
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

.main-link-outline {
  border-color: #fff;
  background-color: transparent;
}

.main-link-outline:hover {
  background-color: #DE2E54;
  color: #fff;
  border-color: transparent;
}

/* HERO */
.site-hero {
  background-color: #0EB4C1;
  color: #fff;
}

.site-hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-content {
  width: 500px;
  padding: 120px 0;
}

.hero-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
}

.hero-text {
  width: 400px;
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 27px;
}

.hero-img {
  align-self: flex-end; /* matn pastga taqalib turadi. */
}


/* Services */
.index-services {
  background-color: #fff;
  padding: 120px 0;
}

.index-services-heading {
  margin-top: 0;
  margin-bottom: 56px;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
  text-align: center;
}

.index-services-list {
  width: 864px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.index-services-item:not(:last-child) {
  margin-bottom: 80px;
}

.index-service {
  display: flex;
  align-items: center;
}

.index-service-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
}

.index-service-content {
  width: 600px;
}

.index-service-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.2;
  color: #222222;
}

.index-service-description {
  margin: 0;
}

.index-services-actions {
  display: flex;
  justify-content: center;
}


/* CTA */
.cta {
  background-color: #0EB4C1;
  color: #fff;
  padding-top: 64px;
  padding-bottom: 64px;
}

.cta-heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Open Sans Condensed", "Open Sans", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.cta-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-links-item:not(:last-child) {
  margin-right: 40px;
}


/* FOOTER */
.site-footer {
  background-color: #222;
  padding: 24px 0;
  color: #fff;
}

.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
